IDI_ICON1               ICON    DISCARDABLE     "logo-cli.ico"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION COPYMOVE_VERSION_MAJOR,COPYMOVE_VERSION_MINOR,COPYMOVE_VERSION_RELEASE,0
PRODUCTVERSION COPYMOVE_VERSION_MAJOR,COPYMOVE_VERSION_MINOR,COPYMOVE_VERSION_RELEASE,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "FD Imaging"
            VALUE "FileDescription", "Image tamper detection"
            VALUE "FileVersion", COPYMOVE_VERSION_STRING_WIN
            VALUE "InternalName", "copymove2-cli"
            VALUE "LegalCopyright", "(C) FD Imaging"
            VALUE "LegalTrademarks1", "All rights reserved"
            VALUE "OriginalFilename", "copymove2-cli"
            VALUE "ProductName", "copymove2-cli"
            VALUE "ProductVersion", COPYMOVE_VERSION_STRING_WIN
        END
    END
END
